<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" authorizationPolicy="episerver:cmsedit" name="SampleAddon" productName="Sample Add-on">
	
	<assemblies>
		<add assembly="Addon" />
	</assemblies>

	<dojo>
		<paths>
			<add name="addon" path="ClientResources" />
		</paths>
	</dojo>

	<clientResources>
		<add name="addon" path="ClientResources/CustomAddon.css" resourceType="Style" />
	</clientResources>

	<clientModule initializer="">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
		<requiredResources>
			<add name="addon" />
		</requiredResources>
	</clientModule>

</module>